Source: libsfml-oculus
Priority: extra
Maintainer: Pierre Gergondet <pierre.gergondet+ppa@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, liboculusvrsdk, libsfml-dev, libboost-filesystem-dev, libeigen3-dev, libglm-dev, libudev-dev, libxinerama-dev, libxrandr-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/gergondet/sfml-oculus
#Vcs-Git: git://git.debian.org/collab-maint/libsfml-oculus.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libsfml-oculus.git;a=summary

Package: libsfml-oculus-dev
Section: libdevel
Architecture: any
Depends: libsfml-oculus1 (= ${binary:Version}), ${misc:Depends}, libsfml-dev, libeigen3-dev, libglm-dev, libboost-filesystem-dev, liboculusvrsdk
Description: Oculus integration with SFML (development files)
 This package provides a library (libsfml-oculus) to use SFML inside an Oculus
 RIFT. A simple example is also provided.
 .
 The idea is to have a virtual screen in the HMD where all drawings are done by
 SFML. By default, the screen is setup to be seen entirely in the HMD but the
 position of the screen can be adjusted (as shown in the example).
 .
 The window that is displayed in the HMD is 640x480 up-scaled for rendering in
 the HMD (the up-scaling factor can be accessed by getRenderScale() if needed)

Package: libsfml-oculus1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liboculusvrsdk
Description: Oculus integration with SFML 
 This package provides a library (libsfml-oculus) to use SFML inside an Oculus
 RIFT. A simple example is also provided.
 .
 The idea is to have a virtual screen in the HMD where all drawings are done by
 SFML. By default, the screen is setup to be seen entirely in the HMD but the
 position of the screen can be adjusted (as shown in the example).
 .
 The window that is displayed in the HMD is 640x480 up-scaled for rendering in
 the HMD (the up-scaling factor can be accessed by getRenderScale() if needed)
